//letras
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Roboto+Mono&family=Roboto:ital,wght@0,300;1,300&display=swap');

$fontMain: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Mono', monospace;

//tamaños
$textLg:3em;
$textMd:2em;
$textSm:1em;

//tipos
$textBold: 700;
$textRegular: 400;
$textLight: 300;