.pie{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    justify-content: space-around;
    background-color: $mainColor;
    .pie__icon--sm{
        width: 40px;   
       }
       .contacto{
        width: 40%;
        height: auto;
        padding: 20px;
    }
       .seguinos{
        width: 40%;
        height: auto;
        padding: 20px;
    }
       .mapa{
        width: 40%;
        height: auto;
        padding: 20px;
        flex-basis: 100%;

        @media (max-width: 1000px){
            .mapa{
            flex-direction: column;
            }
            .tamaño-mapa{
                flex-basis: 100%;
            }
        }
    }
}